/* Fonts */

@font-face {
    font-family: 'Feather';
    src: url('../fonts/feather.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Feather', sans-serif;
}


h1, h5, section .carousel p.card-text {
    font-weight: 600 !important;
}

p, h6 {
    font-weight: 400;
}

section .card-avatar p {
    color: rgb(82, 82, 82)
}



/* Header */
header nav.navbar .notifications img {
    height: 20px;
}

header nav.navbar .logo img {
    height: 40px;
    border-radius: 50%;
    ;
}

header nav.navbar .notifications, header nav.navbar .logo {
    cursor: pointer;
}

.notifications {
    position: relative;
    padding: 6px 7px;
    border-radius: 50%;
    background-color: #F1F0F5
}

.notifications i:first-child {
    color: #AAA7BE;
    font-size: 1.1em;

}

.notifications i:last-child {
    position: absolute;
    right: 10%;
    top: 5%;
    color: #7053F9;
    background-color: #7053F9;
    border: 2px solid white;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: block;
    font-size: 0;
    line-height: 0;
}

.collapseContainer>i {
    position: absolute;
    right: 8%;
    bottom: 5%;
    background-color: #7BC699;
    border: 2px solid white;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: block;
    font-size: 0;
    line-height: 0;
}

/* Collapse Avatar */
.collapseContainer {
    position: relative;
}

.collapseAvatar {
    position: absolute;
    top: 48px;
    right: 0px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 4px 12px black;
}

.collapseAvatar .card-top, .collapseAvatar .card-center, .collapseAvatar .card-bottom {
    background-color: white;
    padding: 12px;
}

.collapseAvatar .card-top, .collapseAvatar .card-center {
    border-bottom: 1px solid rgb(204, 204, 204);

}


.collapseAvatar i {
    font-size: 0.9em;
}

.collapseAvatar p.email {
    color: rgb(176, 176, 176);
    font-weight: 400;
}

/* Hero */
.hero-top {
    background-color: #7550FF;
}

#hero h1.title {
    color: white
}

#hero p.description {
    color: white;
    opacity: 0.6;
}

#hero a.btn:first-of-type {
    background-color: #1ACB97;
    color: white
}

#hero a.btn:last-of-type {
    background-color: white
}

#hero a.btn {
    border-radius: 4px;
    padding: 10px 15px;
    font-weight: 500;
}

#hero .card-left i {
    background-color: rgb(245, 213, 155);
    color: #C48336;
    padding: 15px;
    width: auto;
    border-radius: 50%;
    ;
}

/* Sections NOT hero */


section:not(#hero) .card-avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

section:not(#hero) .card-avatar>* {
    padding: 0;
    margin: 0;
}

section:not(#hero) .card-avatar i {
    color: rgb(82, 82, 82);
    font-size: 0.95em;
    cursor: pointer;

}


section:not(#hero) .card-top {
    border-bottom: 2px solid #EEEDF2;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;

}


section:not(#hero) p.card-text {
    font-weight: 500;
}


section:not(#hero) .stats-container i:first-of-type {
    margin-left: 10px;

}



section:not(#hero) .stats-container i:not(.fa-chart-simple) {
    color: rgb(82, 82, 82);
}

i.fa-chart-simple {
    color: #7550FB
}

section:not(#hero) .stats-container p {
    color: rgb(82, 82, 82);

}

section:not(#hero) .stats-container>* {
    padding: 0;
    margin: 0
}

section:not(#hero) .star-container>i {
    padding: 10px;
    color: #FBA746;
}

section:not(#hero) .star-container p {
    color: rgb(170, 170, 170);
}

section:not(#hero) .star-container p.star-text {
    color: #FBA746;
}

section:not(#hero) .price-container {
    margin-left: 10px
}

section:not(#hero) .price-container p.crossed {
    color: rgb(170, 170, 170);
    text-decoration: line-through;

}

section:not(#hero) .sx-container>* {
    margin-bottom: 0;
}

/* Carosello */


.carousel-control-prev,
.carousel-control-next {
    pointer-events: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    pointer-events: auto;

}

.carousel-icon-container {
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
    box-shadow: 2px 2px 2px black;
}

/* Fix card nei caroselli per schermi tra 992x e 1199px */
@media (min-width: 992px) and (max-width: 1199px) {

    section:not(#hero) p.card-text {
        font-size: 0.9rem;
    }


    section:not(#hero) .stats-container,
    section:not(#hero) .star-container,
    section:not(#hero) .price-container,
    section:not(#hero) .sx-container p {
        font-size: 0.8rem;
    }

    section:not(#hero) .card-body {
        padding: 1rem 0.5rem !important;
    }
}


/* Footer */
footer {
    background-color: #FFFFFF;
}

footer nav ul li {
    list-style: none;
}

footer nav ul li a {
    text-decoration: none;
}

footer p, footer nav ul li a {
    color: #808080;
    font-weight: 400;
    font-size: 0.95em;
}

/* ---- Extra ---- */
/*  Carousel card */

section .carousel .card {
    transition: all 0.3s ease;
    transform-origin: top left
}

section .carousel .card:hover {

    transform: scale(1.04) translateX(2%) translateY(2%);
    box-shadow: 1px 1px 18px black;
}

section .carousel .row>div:last-child .card:hover {
    transform-origin: top right;
    transform: scale(1.04) translateX(-2%) translateY(2%);
    box-shadow: -1px 1px 18px black;
}

.carousel-inner:hover {
    overflow: visible;
}

@keyframes palpito {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }

}

.btn:hover {
    animation: palpito 0.4s infinite ease-in-out;
}