/* Header */
header nav.navbar .notifications img {
    height: 20px;
}

header nav.navbar .logo img {
    height: 40px;
    border-radius: 50%;
    ;
}

header nav.navbar .notifications, header nav.navbar .logo {
    cursor: pointer;
}

/* Hero */
.hero-top {
    background-color: #7550FF;
}

#hero h1.title {
    color: white
}

#hero p.description {
    color: white;
    opacity: 0.6;
}

#hero a.btn:first-of-type {
    background-color: #1ACB97;
    color: white
}

#hero a.btn:last-of-type {
    background-color: white
}

#hero a.btn {
    border-radius: 4px;
    padding: 10px 15px;
    font-weight: 500;
}

#hero .card-left i {
    background-color: rgb(245, 213, 155);
    color: #C48336;
    padding: 15px;
    width: auto;
    border-radius: 50%;
    ;
}

/* Recommended */


#recommend .card-avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#recommend .card-avatar>* {
    padding: 0;
    margin: 0;
    /* margin-left: -10px; */
}

#recommend .card-avatar i {
    color: rgb(82, 82, 82);
    font-size: 0.95em;
}


#recommend .card-top {
    border-bottom: 2px solid #EEEDF2;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;

}


#recommend p.card-text {
    font-weight: 500;
}


#recommend .stats-container i:first-of-type {
    margin-left: 10px;

}



#recommend .stats-container i:not(.fa-chart-simple) {
    color: rgb(82, 82, 82);
}

i.fa-chart-simple {
    color: #7550FB
}

#recommend .stats-container p {
    color: rgb(82, 82, 82);

}

#recommend .stats-container>* {
    padding: 0;
    margin: 0
}

#recommend .star-container>i {
    padding: 10px;
    color: #FBA746;
}

#recommend .star-container p {
    color: rgb(170, 170, 170);
}

#recommend .star-container p.star-text {
    color: #FBA746;
}

#recommend .price-container {
    margin-left: 10px
}

#recommend .price-container p.crossed {
    color: rgb(170, 170, 170);
    text-decoration: line-through;

}

#recommend .sx-container>* {
    margin-bottom: 0;
}

/* Carosello */

.carousel-icon-container {
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
    box-shadow: 2px 2px 2px black;
}

/* Fix card nei caroselli per schermi tra 992x e 1199px */
@media (min-width: 992px) and (max-width: 1199px) {

    #recommend p.card-text {
        font-size: 0.9rem;
    }


    #recommend .stats-container,
    #recommend .star-container,
    #recommend .price-container,
    #recommend .sx-container p {
        font-size: 0.8rem;
    }

    #recommend .card-body {
        padding: 1rem 0.5rem !important;
    }
}