/* Header */
header nav.navbar .notifications img {
    height: 20px;
}

header nav.navbar .logo img {
    height: 40px;
    border-radius: 50%;
    ;
}

header nav.navbar .notifications, header nav.navbar .logo {
    cursor: pointer;
}

/* Hero */
.hero-top {
    background-color: #7550FF;
}

#hero h1.title {
    color: white
}

#hero p.description {
    color: white;
    opacity: 0.6;
}

#hero a.btn:first-of-type {
    background-color: #1ACB97;
    color: white
}

#hero a.btn:last-of-type {
    background-color: white
}

#hero a.btn {
    border-radius: 4px;
    padding: 10px 15px;
    font-weight: 500;
}

#hero .card-left i {
    background-color: rgb(245, 213, 155);
    color: #C48336;
    padding: 15px;
    width: auto;
    border-radius: 50%;
    ;
}

/* Recommended */


#recommend .card-avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#recommend .card-avatar>* {
    padding: 0;
    margin: 0;
    /* margin-left: -10px; */
}

#recommend .card-avatar i {
    color: rgb(82, 82, 82);
    font-size: 0.95em;
}


#recommend .card-top {
    border-bottom: 2px solid #EEEDF2;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;

}


#recommend p.card-text {
    font-weight: 500;
}


#recommend .stats-container i {

    padding: 10px;
    width: auto;
    border-radius: 50%;
    ;
}

.stats-container i {
    color: rgb(82, 82, 82);
}

i.fa-chart-simple {
    color: #7550FB
}

#recommend .stats-container p {
    color: rgb(82, 82, 82);

}

#recommend .stats-container>* {
    padding: 0;
    margin: 0
}

#recommend .star-container>i {
    padding: 10px;
    color: #FBA746;
}


#recommend .price-container {
    margin-left: 10px
}

#recommend .price-container p.crossed {
    color: rgb(130, 130, 130);
    text-decoration: line-through;

}

#recommend .sx-container>* {
    margin-bottom: 0;
}